@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200;400&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #4b4f53;
}

body.lock {
  overflow: hidden;
}

.global-container {
  max-width: 2000px;
  margin: 0 auto;
  text-align: center;
}

.header {
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0px;
  height: 72px;
  max-width: 2000px;
  display: grid;
  grid-template-columns: 0.6fr minmax(515px, 1345px) 2.5fr;
  grid-template-rows: 100%;
  align-items: center;
  justify-items: center;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
  transition: 0.1s all ease-in-out;
}

.header-bg {
  background-color: white;
  height: 72px;
}

.wrapper {
  display: grid;
}

.logo img {
  width: 90px;
}
.logo a {
  display: block;
  height: 100%;
}

.header-menu-icon {
  display: none;
}

.header-menu {
  grid-template-columns: repeat(5, auto);
  justify-self: start;
  align-items: center;
  text-align: center;
}
.header-menu a {
  display: block;
  text-decoration: none;
  color: rgb(12, 18, 28);
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 1.73px;
  padding: 30px 10px;
  transition-duration: 0.3s;
}
.header-menu a:hover {
  background-color: #e9ecec;
}

.header-menu-mobile {
  display: none;
}

.row {
  display: flex;
}

.rate {
  align-items: center;
  line-height: 14px;
}

.header-btns {
  height: 100%;
  align-items: center;
  justify-items: center;
  grid-template-columns: 300px repeat(4, 1fr);
}
.header-btns li {
  color: rgb(12, 18, 28);
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 1.73px;
  height: 100%;
}
.header-btns li:nth-child(2) {
  font-size: 0px;
}
.header-btns .question {
  background-color: transparent;
  width: 12px;
  height: 12px;
  border: none;
  cursor: pointer;
  text-align: center;
  position: relative;
  margin-left: 5px;
}
.header-btns .question .circle {
  width: 12px;
  height: 12px;
  border: 1px solid black;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  left: 0px;
}
.header-btns .question .symbol {
  font-size: 11px;
  position: absolute;
  top: 0px;
  left: 3px;
}
.header-btns button {
  width: 53px;
  height: 100%;
  border: none;
  transition-duration: 0.3s;
  background-color: transparent;
  cursor: pointer;
}
.header-btns button:hover {
  background-color: #e9ecec;
}
.header-btns .bg-img {
  background-position: center;
  background-repeat: no-repeat;
}
.header-btns .ua {
  background-image: url(images/ua.png);
}
.header-btns .wheel {
  background-image: url(images/wheel.png);
  background-size: 20px;
}
.header-btns .search {
  background-image: url(images/search.png);
  background-size: 20px;
}
.header-btns .marker {
  background-image: url(images/marker.png);
  background-size: 20px;
}

.video-block {
  position: relative;
  margin-bottom: -4px;
}

.video {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.video-content {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 50px;
  z-index: 2;
  width: 415px;
  font-family: "Kanit", sans-serif;
  text-align: start;
  letter-spacing: 0.085em;
}
.video-content .video-content-header {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 30px;
}
.video-content .video-content-header p:nth-child(1) {
  font-size: 38px;
  margin-bottom: 20px;
}
.video-content .video-content-header p:nth-child(2), .video-content .video-content-header p:nth-child(3) {
  font-size: 13px;
  margin-bottom: 5px;
}
.video-content .video-content-header button {
  width: 120px;
  height: 47px;
  background-color: black;
  color: white;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 0.3em;
  transition: 0.3s all;
  margin-top: 25px;
}
.video-content .video-content-header button:hover {
  background-color: white;
  border: 1px solid black;
  color: black;
}
.video-content .video-content-text {
  background-color: rgba(228, 232, 232, 0.9);
  padding: 30px;
  font-size: 10px;
  padding-bottom: 40px;
}
.video-content .video-content-text p:nth-child(1) {
  font-weight: bold;
}
.video-content .video-content-text p:nth-child(3) {
  margin-top: 15px;
  font-weight: bold;
}

.video-bg {
  display: none;
}

.nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background-color: #4b4f53;
}

.navbar {
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 100%;
  height: 40px;
  margin: 0 90px;
}
.navbar button {
  border: none;
  background-color: #4b4f53;
  border-left: 1px solid #5d6064;
  color: white;
  font-size: 10px;
  letter-spacing: 2px;
  font-weight: bold;
  cursor: pointer;
}
.navbar button a {
  text-decoration: none;
  color: white;
  padding-top: 2px;
  padding-bottom: 2px;
  transition: 0.2s all ease-in-out;
}
.navbar button:hover > a {
  border-bottom: 1px solid white;
}
.navbar button:last-child {
  border-right: 1px solid #5d6064;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.hide-header {
  top: -100px;
}

@media (max-width: 1200px) {
  .header {
    grid-template-columns: 0.6fr 560px 2.5fr;
  }
  .header-btns {
    grid-template-columns: minmax(120px, 300px) repeat(4, 1fr);
  }
  .header-menu {
    line-height: 1.1em;
  }
}
@media (max-width: 992px) {
  .header {
    height: 48px;
    grid-template-columns: minmax(30px, 0.3fr) 0.8fr 2.5fr 1fr;
  }
  .header .logo {
    grid-column: 2;
    grid-row: 1;
    z-index: 2;
  }
  .header .logo img {
    width: 65px;
  }
  .header .header-menu-icon {
    grid-column: 1;
    grid-row: 1;
  }
  .header .header-menu {
    grid-column: 3;
    grid-row: 1;
  }
  .header .header-btns {
    grid-column: 4;
    grid-row: 1;
  }
  .header-bg {
    height: 48px;
    width: 100%;
    position: fixed;
  }
  .header-menu-icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 15px;
    height: 13px;
    cursor: pointer;
  }
  .header-menu-icon::before, .header-menu-icon::after, .header-menu-icon > span {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: black;
  }
  .header-menu-icon::before, .header-menu-icon::after {
    content: "";
  }
  .header-menu-icon::before {
    top: 0;
  }
  .header-menu-icon::after {
    bottom: 0;
  }
  .header-menu-icon > span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .header-menu-icon.active > span {
    transform: scale(0) translate(0px, -50%);
  }
  .header-menu-icon.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .header-menu-icon.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }
  .header-menu-desktop {
    display: none;
  }
  .header-menu-mobile {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 1fr);
    justify-items: start;
    background-color: white;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 100;
    top: 0px;
    left: 0px;
    padding-bottom: 100px;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
  }
  .header-menu-mobile .header-menu-mobile-border {
    border-bottom: 1px solid #dbd6d6;
    text-align: left;
  }
  .header-menu-mobile .header-menu-mobile-items {
    height: 74px;
    align-items: center;
  }
  .header-menu-mobile li {
    width: 100%;
  }
  .header-menu-mobile li p {
    margin-left: 10px;
    padding-left: 10px;
    text-align: left;
    line-height: 74px;
  }
  .header-menu-mobile li a {
    padding-left: 20px;
  }
  .header-menu-mobile .header-menu-mobile-btn {
    width: 40px;
    padding-left: 10px;
  }
  .header-menu-mobile button {
    color: rgb(12, 18, 28);
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 1.73px;
    border: none;
    width: 26px;
    height: 16px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
  }
  .header-menu-mobile .ua {
    background-image: url(images/ua.png);
    width: 26px;
    height: 17px;
  }
  .header-menu-mobile .wheel {
    background-image: url(images/wheel.png);
    background-size: contain;
  }
  .header-menu-mobile .search {
    background-image: url(images/search.png);
  }
  .header-menu-mobile .marker {
    background-image: url(images/marker.png);
  }
  .header-menu-mobile p {
    color: rgb(12, 18, 28);
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 1.73px;
  }
  .header-menu-mobile.active {
    top: 48px;
    visibility: visible;
    opacity: 1;
    transition: 0.3s;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .header-btns {
    grid-template-columns: repeat(4, 20%);
    justify-content: end;
    z-index: 5;
  }
  .header-btns .rate {
    display: none;
  }
  .header-btns .bg-img {
    background-size: 16px;
  }
  .main {
    overflow: hidden;
  }
  .video-block {
    min-height: 600px;
    margin-bottom: 0px;
  }
  .video-content {
    top: 53%;
  }
  .video {
    display: none;
  }
  .video-bg {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-image: url(images/video-bg.jpg);
    background-position: 85%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .video-content {
    width: 300px;
    left: 20px;
  }
  .nav {
    display: none;
  }
}
@media (max-width: 576px) {
  .video-block {
    min-height: 555px;
    background-color: transparent;
  }
  .video-block-mobile {
    margin-top: 48px;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 200px 1fr;
  }
  .video-bg {
    position: static;
    background-image: url(images/video-bg-mobile.jpg);
    background-position: center;
    background-size: cover;
  }
  .video-content {
    position: static;
    width: 100%;
    left: 0;
    top: 0;
    transform: none;
  }
  .video-content .video-content-header {
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
  }
  .video-content .video-content-header > p:nth-child(1) {
    font-size: 26px;
  }
  .video-content .video-content-header button {
    margin-top: 15px;
  }
  .video-content .video-content-text {
    background-color: rgb(228, 232, 232);
  }
}/*# sourceMappingURL=style.css.map */