@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200;400;500&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #4b4f53;
}

body.lock {
  overflow: hidden;
}

[class*=-section] {
  background-color: white;
}

.global-container {
  max-width: 2000px;
  margin: 0 auto;
  text-align: center;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0px;
  height: 72px;
  max-width: 2000px;
  display: grid;
  grid-template-columns: 0.6fr minmax(515px, 1345px) 2.5fr;
  grid-template-rows: 100%;
  align-items: center;
  justify-items: center;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
  transition: 0.1s all ease-in-out;
}

.header-bg {
  background-color: white;
  height: 72px;
}

.wrapper {
  display: grid;
}

.logo img {
  width: 90px;
}
.logo a {
  display: block;
  height: 100%;
}

.header-menu-icon {
  display: none;
}

.header-menu {
  grid-template-columns: repeat(5, auto);
  justify-self: start;
  align-items: center;
  text-align: center;
}
.header-menu a {
  display: block;
  text-decoration: none;
  color: rgb(12, 18, 28);
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 1.73px;
  padding: 30px 10px;
  transition-duration: 0.3s;
}
.header-menu a:hover {
  background-color: #e9ecec;
}

.header-menu-mobile {
  display: none;
}

.row {
  display: flex;
}

.rate {
  align-items: center;
  line-height: 14px;
}

.header-btns {
  height: 100%;
  align-items: center;
  justify-items: center;
  grid-template-columns: 300px repeat(4, 1fr);
}
.header-btns li {
  color: rgb(12, 18, 28);
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 1.73px;
  height: 100%;
}
.header-btns li:nth-child(2) {
  font-size: 0px;
}
.header-btns .question {
  background-color: transparent;
  width: 12px;
  height: 12px;
  border: none;
  cursor: pointer;
  text-align: center;
  position: relative;
  margin-left: 5px;
}
.header-btns .question .circle {
  width: 12px;
  height: 12px;
  border: 1px solid black;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  left: 0px;
}
.header-btns .question .symbol {
  font-size: 11px;
  position: absolute;
  top: 0px;
  left: 3px;
}
.header-btns button {
  width: 53px;
  height: 100%;
  border: none;
  transition-duration: 0.3s;
  background-color: transparent;
  cursor: pointer;
}
.header-btns button:hover {
  background-color: #e9ecec;
}
.header-btns .bg-img {
  background-position: center;
  background-repeat: no-repeat;
}
.header-btns .ua {
  background-image: url(images/ua.png);
}
.header-btns .wheel {
  background-image: url(images/wheel.png);
  background-size: 20px;
}
.header-btns .search {
  background-image: url(images/search.png);
  background-size: 20px;
}
.header-btns .marker {
  background-image: url(images/marker.png);
  background-size: 20px;
}

.video-block-section {
  position: relative;
}

.video {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: -3px;
}

.video-content {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 50px;
  z-index: 2;
  width: 415px;
  font-family: "Kanit", sans-serif;
  text-align: start;
  letter-spacing: 0.085em;
}
.video-content .video-content-header {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 30px;
}
.video-content .video-content-header p:nth-child(1) {
  font-size: 38px;
  margin-bottom: 20px;
}
.video-content .video-content-header p:nth-child(2), .video-content .video-content-header p:nth-child(3) {
  font-size: 13px;
  margin-bottom: 5px;
}
.video-content .video-content-header button {
  width: 120px;
  height: 47px;
  background-color: black;
  border: 1px solid black;
  color: white;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 0.3em;
  transition: 0.3s all;
  cursor: pointer;
  margin-top: 25px;
}
.video-content .video-content-header button:hover {
  background-color: white;
  border: 1px solid black;
  color: black;
}
.video-content .video-content-text {
  background-color: rgba(228, 232, 232, 0.9);
  padding: 30px;
  font-size: 10px;
  padding-bottom: 40px;
}
.video-content .video-content-text p:nth-child(1) {
  font-weight: bold;
}
.video-content .video-content-text p:nth-child(3) {
  margin-top: 15px;
  font-weight: bold;
}

.video-bg {
  display: none;
}

.nav-section {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background-color: #4b4f53;
  z-index: 50;
}

.navbar {
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 100%;
  height: 40px;
}
.navbar button {
  border: none;
  background-color: #4b4f53;
  border-left: 1px solid #5d6064;
  color: white;
  font-size: 8px;
  letter-spacing: 2px;
  font-weight: bold;
  cursor: pointer;
}
.navbar button a {
  text-decoration: none;
  color: white;
  padding-top: 2px;
  padding-bottom: 2px;
  transition: 0.2s all ease-in-out;
}
.navbar button:hover > a {
  border-bottom: 1px solid white;
}
.navbar button:last-child {
  border-right: 1px solid #5d6064;
}

.nav-section.not-scrolled {
  max-width: 1280px;
  margin: 0 auto;
}

.nav-section.scrolled {
  background-color: rgba(230, 233, 233, 0.95);
}
.nav-section.scrolled button {
  background-color: transparent;
  border: none;
}
.nav-section.scrolled button a {
  color: black;
}
.nav-section.scrolled button:hover > a {
  border-bottom: 1px solid black;
}
.nav-section.scrolled button:last-child {
  border-right: none;
}

.main-menu-content {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100%;
}
.main-menu-content .main-menu-item {
  border-right: 1px solid #d8d8d8;
  padding: 48px 20px 40px;
  line-height: 1.2;
  cursor: pointer;
}
.main-menu-content .main-menu-item .main-menu-item-img {
  width: 45px;
  height: 45px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 45px;
}
.main-menu-content .main-menu-item .main-menu-item-name {
  display: flex;
  align-items: baseline;
  margin: 22px 0 13px 0;
  text-align: left;
  font-family: "Kanit", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: black;
  letter-spacing: 1.5px;
}
.main-menu-content .main-menu-item .main-menu-item-name p {
  -webkit-text-decoration: underline white;
          text-decoration: underline white;
}
.main-menu-content .main-menu-item .main-menu-item-name .main-menu-item-name-img {
  height: 12px;
  width: 16px;
  background-image: url(images/main-arrow-black.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
}
.main-menu-content .main-menu-item .main-menu-item-desc {
  text-align: left;
  font-size: 16px;
}
.main-menu-content .main-menu-item:nth-child(1):hover .equipment {
  background-image: url(images/main-car-green.png);
}
.main-menu-content .main-menu-item:nth-child(2):hover .literature {
  background-image: url(images/main-book-green.png);
}
.main-menu-content .main-menu-item:nth-child(3):hover .mail {
  background-image: url(images/main-mail-green.png);
}
.main-menu-content .main-menu-item:nth-child(4):hover .dilers {
  background-image: url(images/main-marker-green.png);
}
.main-menu-content .main-menu-item:hover .main-menu-item-name-img {
  background-image: url(images/main-arrow-green.png);
}
.main-menu-content .main-menu-item:hover .main-menu-item-name > p {
  color: #255930;
  -webkit-text-decoration: underline #255930;
          text-decoration: underline #255930;
}
.main-menu-content .main-menu-item:last-child {
  border-right: none;
}

.equipment {
  background-image: url(images/main-car-black.png);
}

.literature {
  background-image: url(images/main-book-black.png);
}

.mail {
  background-image: url(images/main-mail-black.png);
}

.dilers {
  background-image: url(images/main-marker-black.png);
}

.title-section {
  background-color: #f8f9f9;
  padding: 80px 15px;
}
.title-section .title-header {
  font-family: "Kanit", sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: black;
  letter-spacing: 3px;
}
.title-section .title-desc {
  color: #4a4f54;
  margin: 30px 0;
}
.title-section .title-video {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  letter-spacing: 3px;
  width: 180px;
  cursor: pointer;
  margin: 0 auto;
}
.title-section .title-video > p {
  padding: 3px;
  border-bottom: 1px solid white;
  transition: 0.3s all;
}
.title-section .title-video:hover > p {
  border-bottom: 1px solid black;
}
.title-section .title-video .title-video-arrow {
  height: 20px;
  width: 25px;
  background-image: url(images/main-arrow-black.png);
  background-size: 15px;
  background-position: center;
  background-repeat: no-repeat;
}

.model-tab-section {
  position: relative;
}
.model-tab-section .model-tab-title-items {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translate(-50%, 0);
}
.model-tab-section .model-tab-title-items .model-tab-title-item {
  min-width: 200px;
  max-width: 220px;
  height: 50px;
  background-color: #0d121b;
  color: white;
  padding: 10px;
  cursor: pointer;
  font-size: 12px;
  letter-spacing: 3px;
  line-height: 1.3;
  transition: 0.3s all;
}
.model-tab-section .model-tab-title-items .model-tab-title-item:hover {
  background-color: #4a4a4a;
  text-decoration: underline;
}
.model-tab-section .model-tab-title-items .active-item {
  background-color: white;
  color: #0d121b;
}
.model-tab-section .model-tab-title-items .active-item:hover {
  background-color: white;
  text-decoration: none;
}
.model-tab-section .model-tab-title-items .model-tab-title-item:nth-child(2) {
  border-left: 1px solid #4a4a4a;
  border-right: 1px solid #4a4a4a;
}

.model-tab-container .model-tab-content img {
  width: 100%;
  max-height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: -3px;
}

.slider img {
  height: 600px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.slick-prev:before, .slick-next:before {
  content: "";
}

.slick-prev, .slick-next {
  z-index: 5;
}

.slick-prev {
  left: 10px;
  background-image: url(images/slider-arrow-left.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  height: 40px;
}

.slick-next {
  right: 10px;
  background-image: url(images/slider-arrow-right.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  height: 40px;
}

.slick-prev:hover, .slick-prev:focus {
  background-image: url(images/slider-arrow-left.png);
  background-position: center;
  background-repeat: no-repeat;
}

.slick-next:hover, .slick-next:focus {
  background-image: url(images/slider-arrow-right.png);
  background-position: center;
  background-repeat: no-repeat;
}

.slick-dots {
  text-align: left;
  bottom: 50px;
  left: 100px;
  width: 120px;
}

.slick-dots li button:before {
  content: "";
  border: 3px solid white;
  opacity: 1;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.slick-dots li.slick-active button:before {
  background-color: white;
  opacity: 1;
}

.interier-section {
  background-color: #eaecec;
}
.interier-section .interier-main {
  display: grid;
  align-items: start;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 3fr 1fr;
  gap: 40px;
  padding-top: 80px;
  padding-bottom: 30px;
}
.interier-section .interier-main .interier-items {
  text-align: left;
}
.interier-section .interier-main .interier-items .interier-img {
  overflow: hidden;
}
.interier-section .interier-main .interier-items .interier-img img {
  width: 100%;
  transition: 0.3s all;
  margin-bottom: -3px;
}
.interier-section .interier-main .interier-items .interier-item-header {
  font-family: "Kanit", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: black;
  letter-spacing: 3px;
  margin: 40px 0 30px 0;
}
.interier-section .interier-main .interier-items .interier-item-content {
  font-size: 14px;
  color: #4a4f54;
  line-height: 1.4;
  letter-spacing: 1.1px;
}
.interier-section .interier-main .item-1:hover .interier-img-1 {
  transform: scale(1.2);
}
.interier-section .interier-main .item-2:hover .interier-img-2 {
  transform: scale(1.2);
}
.interier-section .interier-main .item-3:hover .interier-img-3 {
  transform: scale(1.2);
}
.interier-section .interier-main .item-4 {
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: center;
  align-self: center;
}
.interier-section .interier-main .item-4 button {
  background-image: url(images/configurator-white.png);
  background-repeat: no-repeat;
  background-position: 12%;
  padding-left: 35px;
  width: 190px;
  height: 47px;
  background-color: black;
  border: 1px solid black;
  color: white;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 0.3em;
  transition: 0.3s all;
  cursor: pointer;
}
.interier-section .interier-main .item-4 button:hover {
  background-color: white;
  border: 1px solid black;
  color: black;
}
.interier-section .interier-main .item-4 button:hover {
  background-image: url(images/configurator-black.png);
}

.specs-section .specs-main {
  display: grid;
  align-items: start;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 3fr;
  gap: 40px;
  padding-top: 40px;
  padding-bottom: 30px;
}
.specs-section .specs-main .specs-items {
  text-align: left;
}
.specs-section .specs-main .specs-items .specs-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  letter-spacing: 3px;
  width: 180px;
  cursor: pointer;
  margin-top: 30px;
  justify-content: flex-start;
}
.specs-section .specs-main .specs-items .specs-btn > p {
  padding: 3px;
  border-bottom: 1px solid white;
  transition: 0.3s all;
}
.specs-section .specs-main .specs-items .specs-btn:hover > p {
  border-bottom: 1px solid black;
}
.specs-section .specs-main .specs-items .specs-btn .specs-btn-video-arrow {
  height: 20px;
  width: 25px;
  background-image: url(images/main-arrow-black.png);
  background-size: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-position: left;
  width: 15px;
}
.specs-section .specs-main .specs-items .specs-img {
  position: relative;
  transition: 0.3s all;
}
.specs-section .specs-main .specs-items .specs-img img {
  width: 100%;
  margin-bottom: -3px;
}
.specs-section .specs-main .specs-items .specs-img:hover .hovered {
  opacity: 1;
  visibility: visible;
}
.specs-section .specs-main .specs-items .specs-img .play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 64px;
  height: 64px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  background-image: url(images/play-img.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 200%;
}
.specs-section .specs-main .specs-items .hovered {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s all;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.specs-section .specs-main .specs-items .specs-item-header {
  font-family: "Kanit", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: black;
  letter-spacing: 3px;
  margin: 40px 0 30px 0;
}
.specs-section .specs-main .specs-items .specs-item-content {
  font-size: 14px;
  color: #4a4f54;
  line-height: 1.4;
  letter-spacing: 1.1px;
}
.specs-section .specs-main .item-1 {
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: center;
  align-self: center;
  font-family: "Kanit", sans-serif;
  font-size: 34px;
  font-weight: bold;
  color: black;
  letter-spacing: 2px;
}

.equipment-tab-title-items {
  display: flex;
  justify-content: center;
}
.equipment-tab-title-items .equipment-tab-title-item {
  height: 35px;
  background-color: #0d121b;
  border-left: 1px solid #393939;
  border-right: 1px solid #393939;
  padding: 10px 15px;
  color: white;
  cursor: pointer;
  font-size: 12px;
  letter-spacing: 3px;
  line-height: 1.3;
  transition: 0.3s all;
}
.equipment-tab-title-items .equipment-tab-title-item:hover {
  background-color: #4a4a4a;
  text-decoration: underline;
}
.equipment-tab-title-items .equipment-tab-title-item:first-child {
  border-left: none;
}
.equipment-tab-title-items .equipment-tab-title-item:last-child {
  border-right: none;
}
.equipment-tab-title-items .active-item {
  background-color: white;
  color: #0d121b;
}
.equipment-tab-title-items .active-item:hover {
  background-color: white;
  text-decoration: none;
}

.equipment-tab-content-wrap-1 {
  display: grid;
  align-items: start;
  gap: 40px;
  padding-top: 40px;
  padding-bottom: 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.equipment-tab-content-wrap-2 {
  display: grid;
  align-items: start;
  gap: 40px;
  padding-top: 40px;
  padding-bottom: 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.equipment-tab-content-wrap-3 {
  display: grid;
  align-items: start;
  gap: 40px;
  padding-top: 40px;
  padding-bottom: 30px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100%;
}

.equipment-tab-content-wrap-4 {
  display: grid;
  align-items: start;
  gap: 40px;
  padding-top: 40px;
  padding-bottom: 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100%;
}

.equipment-tab-block {
  text-align: left;
}
.equipment-tab-block .equipment-img img {
  width: 100%;
}
.equipment-tab-block .equipment-header {
  font-family: "Kanit", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: black;
  letter-spacing: 3px;
  margin: 40px 0 30px 0;
}
.equipment-tab-block .equipment-content {
  font-size: 14px;
  color: #4a4f54;
  line-height: 1.4;
  letter-spacing: 1.1px;
}

.plug-in {
  display: grid;
  grid-template-columns: 1.3fr 2fr;
  grid-template-rows: 100%;
}
.plug-in .plug-in-content {
  padding: 70px 90px;
  text-align: left;
}
.plug-in .plug-in-content .plug-in-header {
  font-family: "Kanit", sans-serif;
  font-size: 23px;
  font-weight: bold;
  color: black;
  letter-spacing: 3px;
}
.plug-in .plug-in-content .plug-in-text {
  font-size: 14px;
  color: #4a4f54;
  line-height: 1.4;
  letter-spacing: 1.1px;
  margin-top: 20px;
  margin-bottom: 70px;
}
.plug-in .plug-in-content button {
  width: 275px;
  height: 47px;
  background-color: black;
  border: 1px solid black;
  color: white;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 0.3em;
  transition: 0.3s all;
  cursor: pointer;
  background-image: url(images/configurator-white.png);
  background-repeat: no-repeat;
  background-position: 8%;
  padding-left: 35px;
}
.plug-in .plug-in-content button:hover {
  background-color: white;
  border: 1px solid black;
  color: black;
}
.plug-in .plug-in-content button:hover {
  background-image: url(images/configurator-black.png);
}
.plug-in .plug-in-img img {
  width: 100%;
  max-height: 370px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: -3px;
}

.accessory-section {
  background-color: #f8f9f9;
}
.accessory-section .accessory-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100%;
  gap: 40px;
}
.accessory-section .accessory-wrapper .accessory-block {
  text-align: left;
}
.accessory-section .accessory-wrapper .accessory-block .accessory-img img {
  width: 100%;
}
.accessory-section .accessory-wrapper .accessory-block .accessory-header {
  font-family: "Kanit", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: black;
  letter-spacing: 3px;
  margin: 40px 0 30px 0;
}
.accessory-section .accessory-wrapper .accessory-block .accessory-content {
  font-size: 14px;
  color: #4a4f54;
  line-height: 1.4;
  letter-spacing: 1.1px;
}
.accessory-section .accessoty-btn {
  width: 500px;
  height: 47px;
  background-color: black;
  border: 1px solid black;
  color: white;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 0.3em;
  transition: 0.3s all;
  cursor: pointer;
  background-image: url(images/arrow-right-v2-white.png);
  background-repeat: no-repeat;
  background-position: 4%;
  padding-left: 35px;
  margin-top: 70px;
  margin-bottom: 70px;
}
.accessory-section .accessoty-btn:hover {
  background-color: white;
  border: 1px solid black;
  color: black;
}
.accessory-section .accessoty-btn:hover {
  background-image: url(images/arrow-right-v2-black.png);
}

.hide-header {
  top: -100px;
}

.hide {
  display: none;
}

.show {
  display: block;
}

@media (max-width: 1200px) {
  .header {
    grid-template-columns: 0.6fr 560px 2.5fr;
  }
  .header-btns {
    grid-template-columns: minmax(120px, 300px) repeat(4, 1fr);
  }
  .header-menu {
    line-height: 1.1em;
  }
  .model-tab-container .model-tab-content {
    max-height: 420px;
  }
  .model-tab-container .model-tab-content img {
    width: 100%;
    max-height: 420px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .slider img {
    height: 500px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
}
@media (max-width: 992px) {
  .header {
    height: 48px;
    grid-template-columns: minmax(30px, 0.3fr) 0.8fr 2.5fr 1fr;
  }
  .header .logo {
    grid-column: 2;
    grid-row: 1;
    z-index: 2;
  }
  .header .logo img {
    width: 65px;
  }
  .header .header-menu-icon {
    grid-column: 1;
    grid-row: 1;
  }
  .header .header-menu {
    grid-column: 3;
    grid-row: 1;
  }
  .header .header-btns {
    grid-column: 4;
    grid-row: 1;
  }
  .header-bg {
    height: 48px;
    width: 100%;
    position: fixed;
  }
  .header-menu-icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 15px;
    height: 13px;
    cursor: pointer;
  }
  .header-menu-icon::before, .header-menu-icon::after, .header-menu-icon > span {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: black;
  }
  .header-menu-icon::before, .header-menu-icon::after {
    content: "";
  }
  .header-menu-icon::before {
    top: 0;
  }
  .header-menu-icon::after {
    bottom: 0;
  }
  .header-menu-icon > span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .header-menu-icon.active > span {
    transform: scale(0) translate(0px, -50%);
  }
  .header-menu-icon.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .header-menu-icon.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }
  .header-menu-desktop {
    display: none;
  }
  .header-menu-mobile {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 1fr);
    justify-items: start;
    background-color: white;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 100;
    top: 0px;
    left: 0px;
    padding-bottom: 100px;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
  }
  .header-menu-mobile .header-menu-mobile-border {
    border-bottom: 1px solid #dbd6d6;
    text-align: left;
  }
  .header-menu-mobile .header-menu-mobile-items {
    height: 74px;
    align-items: center;
  }
  .header-menu-mobile li {
    width: 100%;
  }
  .header-menu-mobile li p {
    margin-left: 10px;
    padding-left: 10px;
    text-align: left;
    line-height: 74px;
  }
  .header-menu-mobile li a {
    padding-left: 20px;
  }
  .header-menu-mobile .header-menu-mobile-btn {
    width: 40px;
    padding-left: 10px;
  }
  .header-menu-mobile button {
    color: rgb(12, 18, 28);
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 1.73px;
    border: none;
    width: 26px;
    height: 16px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
  }
  .header-menu-mobile .ua {
    background-image: url(images/ua.png);
    width: 26px;
    height: 17px;
  }
  .header-menu-mobile .wheel {
    background-image: url(images/wheel.png);
    background-size: contain;
  }
  .header-menu-mobile .search {
    background-image: url(images/search.png);
  }
  .header-menu-mobile .marker {
    background-image: url(images/marker.png);
  }
  .header-menu-mobile p {
    color: rgb(12, 18, 28);
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 1.73px;
  }
  .header-menu-mobile.active {
    top: 48px;
    visibility: visible;
    opacity: 1;
    transition: 0.3s;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .header-btns {
    grid-template-columns: repeat(4, 20%);
    justify-content: end;
    z-index: 5;
  }
  .header-btns .rate {
    display: none;
  }
  .header-btns .bg-img {
    background-size: 16px;
  }
  .main {
    overflow: hidden;
  }
  .video-block-section {
    min-height: 600px;
  }
  .video-content {
    top: 53%;
  }
  .video {
    display: none;
    margin-bottom: 0px;
  }
  .video-bg {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-image: url(images/video-bg.jpg);
    background-position: 85%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .video-content {
    width: 300px;
    left: 20px;
  }
  .nav-section {
    display: none;
  }
  .main-menu-content {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .main-menu-content .main-menu-item:nth-child(1) {
    border-bottom: 1px solid #d8d8d8;
  }
  .main-menu-content .main-menu-item:nth-child(2) {
    border-bottom: 1px solid #d8d8d8;
  }
  .title-section {
    padding: 50px 15px;
  }
  .model-tab-section .model-tab-title-items {
    background-color: #0d121b;
    justify-content: flex-start;
    position: static;
    top: 0px;
    left: 0;
    transform: translate(0, 0);
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .model-tab-section .model-tab-container .model-tab-content img {
    width: 120%;
  }
  .slick-prev, .slick-next {
    display: none !important;
  }
  .interier-section {
    background-color: #eaecec;
  }
  .interier-section .interier-main {
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, 5fr) 1fr;
    gap: 40px 0;
    padding-top: 80px;
    padding-bottom: 30px;
  }
  .interier-section .interier-main .interier-items .interier-item-header {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .interier-section .interier-main .item-1 {
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .interier-section .interier-main .item-2 {
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .interier-section .interier-main .item-3 {
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .interier-section .interier-main .item-4 {
    grid-row-start: 4;
    grid-row-end: 5;
  }
  .specs-section .specs-main {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr repeat(3, 4fr);
  }
  .specs-section .specs-main .item-1 {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .equipment-tab-content-wrap-1 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .equipment-tab-content-wrap-2 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .equipment-tab-content-wrap-3 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .equipment-tab-content-wrap-4 {
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, 1fr);
  }
  .plug-in {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 0.3fr 1fr;
  }
  .plug-in .plug-in-content {
    order: 2;
  }
  .plug-in .plug-in-img {
    order: 1;
    padding-left: 15px;
    padding-right: 15px;
  }
  .accessory-section .accessory-wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
@media (max-width: 576px) {
  .video-block-section {
    min-height: auto;
    background-color: transparent;
  }
  .video-block-mobile {
    margin-top: 48px;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 200px 1fr;
  }
  .video-bg {
    position: static;
    background-image: url(images/video-bg-mobile.jpg);
    background-position: center;
    background-size: cover;
  }
  .video-content {
    position: static;
    width: 100%;
    left: 0;
    top: 0;
    transform: none;
  }
  .video-content .video-content-header {
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
  }
  .video-content .video-content-header > p:nth-child(1) {
    font-size: 26px;
  }
  .video-content .video-content-header button {
    margin-top: 15px;
  }
  .video-content .video-content-text {
    background-color: rgb(228, 232, 232);
  }
  .main-menu-content {
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, 1fr);
  }
  .main-menu-content .main-menu-item {
    display: flex;
    padding: 15px 15px;
  }
  .main-menu-content .main-menu-item .main-menu-item-img {
    margin-right: 10px;
    width: 60px;
  }
  .main-menu-content .main-menu-item .main-menu-item-name {
    margin: 0;
    align-items: center;
  }
  .main-menu-content .main-menu-item .main-menu-item-name .main-menu-item-name-img {
    margin-right: 10px;
  }
  .main-menu-content .main-menu-item:nth-child(3) {
    border-bottom: 1px solid #d8d8d8;
  }
  .main-menu-content .main-menu-item:nth-child(4) {
    border-bottom: 1px solid #d8d8d8;
  }
  .main-menu-content .main-menu-item-desc {
    display: none;
  }
  .title-section {
    padding: 30px 15px;
  }
  .slider img {
    height: 250px;
  }
  .slick-dots {
    bottom: 30px;
    left: 50px;
  }
  .interier-section .interier-main {
    padding-bottom: 20px;
  }
  .interier-section .interier-main .item-4 {
    align-self: flex-start;
  }
  .specs-section .specs-main {
    gap: 0;
    padding-top: 0;
  }
  .equipment-tab-content-wrap-1 {
    grid-template-columns: 100%;
    grid-template-rows: repeat(6, 1fr);
  }
  .equipment-tab-content-wrap-2 {
    grid-template-columns: 100%;
    grid-template-rows: repeat(6, 1fr);
  }
  .equipment-tab-content-wrap-3 {
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, 1fr);
  }
  .equipment-tab-content-wrap-4 {
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, 1fr);
  }
  .equipment-tab-block .equipment-header {
    margin: 20px 0 20px 0;
  }
  .plug-in .plug-in-content {
    padding: 20px 15px;
  }
  .plug-in .plug-in-content .plug-in-text {
    margin-bottom: 20px;
  }
  .accessory-section .accessory-wrapper {
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, 1fr);
  }
  .accessory-section .accessoty-btn {
    width: 290px;
    height: 47px;
    background-color: black;
    border: 1px solid black;
    color: white;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 0.3em;
    transition: 0.3s all;
    cursor: pointer;
  }
  .accessory-section .accessoty-btn:hover {
    background-color: white;
    border: 1px solid black;
    color: black;
  }
}/*# sourceMappingURL=style.css.map */